site_name: YHKLAB Wiki

theme:
    name: 'material'
    features:
        - navigation.tabs
        - navigation.instant
        - navigation.sections

plugins:
    - search

extra_javascript:
  - javascripts/config.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

markdown_extensions:
    - attr_list
    - admonition
    - pymdownx.details
    - pymdownx.superfences
    - pymdownx.mark
    - pymdownx.arithmatex:
        generic: true
nav:
        - Home: index.md
        - 시작하기:
                - 1. 프로그래밍 환경설정:
                        - '• 파이썬으로 시작하기' : environment/python.md
                        - '• Linux용 Windows 하위 시스템' : environment/wsl2.md
                        - '• VSCode' : environment/vscode.md
                - 2. Git:
                        - '• Repository 만들기' : github_tutorial/0.github_create_repository.md
                - 3. 유용한 명령어:
                        - '• Linux' : other/1.1_LinuxCheatSheet.md
                        - '• Python' : other/1.2_PythonCheatSheet.md
                        - '• Emacs' : other/1.3_EmacsCheatSheet.md
                        - '• Anaconda' : other/1.4_AnacondaCheatSheet.md
        - 교육용:
                - dummy: education/DD.md
        - OORINano:
                - '1. k-point sampling' : nanocore/nanocore_kpoint.md
                - '2. Structure optimization' :
                        - 'A. Equation of state (EOS) ' : nanocore/nanocore_eos.md
                        - 'B. Murnaghan fitting' : nanocore/nanocore_murnaghan.md
                        - 'C. Geometry optimization' : nanocore/nanocore_geo.md
        - Atom:
                - 0. 준비:
                        - 'ATOM 설치': build/build_atom.md
                - 1. ATOM 계산:
                        - A. 기초 과정:
                                - '(1) 모든-전자 계산': atom/atom_all_electron.md
                                - '(2) 슈도퍼텐셜 생성': atom/atom_pseudopotential.md
        - SIESTA:
                - 0. 준비:
                        - 'A. SIESTA 로컬에서 설치': build/build_siesta_local.md
                        - 'B. SIESTA 클러스터에서 설치': build/build_siesta.md
                - 1. SIESTA 계산:
                        - A. 기초 과정:
                                - '(1) SIESTA 개요': siesta/siesta_basic.md
                                - '(2) CH4, CH3 분자': siesta/siesta_ch4.md
                                - '(3) 3D - Au bulk 구조': siesta/siesta_gold_bulk.md
                                - '(4-1) 2D - Au slab 구조': siesta/siesta_gold_slab.md
                                - '(4-2) 2D - Graphene' : siesta/siesta_graphene.md
                - 2. TranSIESTA 계산:
                        - A. 기초 과정:
                                - '(1) TranSIESTA 개요': transiesta/transiesta_overview.md
                                - '(2) 접합구조 모델링': transiesta/transiesta_modeling.md
                                - '(3) Si chain (1D)': transiesta/transiesta_si1d.md
                        - B. 중급/고급 과정:
                                - (1) 평형상태 계산:
                                        - '1) 그래핀 (2D)': transiesta/transiesta_graphene.md
                                        - '2) 깨끗한 or 결함있는 GNRs': transiesta/transiesta_gnr.md
                                        - '3) Si-SiO2-Si': transiesta/transiesta_si-sio2-si.md
                                - (2) 비평형상태 계산:
                                        - '1) GNRs-진공-GNRs': transiesta/transiesta_gnr-vacuum-gnr.md
        - VASP:
                - Nudged Elastic Band (NEB):
                        - 'Machine learning for nudged elastic band' : vasp/ml-neb.md
        - About: about.md

